
.mx-auto{
    text-align: center;
}
.mx-auto , div{
    
}
.mx-auto, div, input{
    padding: 10px;
    font-size: 30px;
}
img{
    margin-top: 10px;
    margin-bottom: 40px;
}
.btn{
    background-color: rgb(98, 98, 98) !important;
    margin-top: 100px;
}
i{
    color: white;
    font-size: 50px;
    padding-right: 25px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}
